.theme-toggle {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.icon-dark {
  color: var(--site-text-muted);
  width: 25px;
  height: 25px;
}
.icon-light {
  color: var(--site-text);
  width: 25px;
  height: 25px;
}
